---
title: Norse Sans
---


<article class="vh-100 w-100 z--1 relative" >
  <div class="row contain bg-bottom" style="background-image:url('images/norse-art.svg')">
    <div class="flex flex-row justify-center items-center vh-100">
      <div class="w-100 white">
        <h1 class="ma0 fw9 fill">
          <span class="lh-solid db custom-text-indent smcp tracked relative tc">
            NORSE
          </span>
        </h1>
        <h2 class="ma0 fw9 fill">
          <span class="lh-solid db custom-text-indent smcp tracked relative tc">
            SANS
          </span>
        </h2>
      </div>
    </div>
  </div>
</article>

<div class="row z-1 relative">



  <div class="mt3 mt5-ns flex flex-row cf">
    <div class="w-100 w-40-ns pa0 pa3-ns">
      <ul class="list pa0 fw5 f7 tracked ttu">
        <li class="mt3">Designed by — <a href="http://graz.io">Sebastian Graz</a></li>
        <li class="mt3">Supports — Latin Extended A</li>
        <li class="mt3">Released — 11th October 2017</li>
      </ul>
    </div>
    <div class="w-100 w-50-ns pa0 pa3-ns fl f4 measure m-left-auto">
      <p class="f3 f2-l ma0 fw5 lh-title">A <i>typeface</i> for the modern world — An exciting combo between grotesque principles and legibility.</p>
      <p>
        Norse really shines when small due to it's spacious layout of shapes rendering it ideal for body text. But sports enough pizzazz to be used in titles and print design.
      </p>
    </div>
  </div>


  <div class="mt3 mt5-ns cf">
    <p>4 Weights</p>
    <div class="cf">
      <div class="fl pa1 w-50 w-25-ns w-10-ns0">
        <div class="aspect-ratio--1x1 aspect-ratio">
          <div class="aspect-ratio--object bg-monza white flex justify-center items-center">
            <div class="absolute f7 pale bottom-1 tc w-100">Bold</div>
            <div class="relative">
              <span class="f1 f-6-l f1-ns mb3 dib fw9 random">Rr</span>
            </div>
          </div>
        </div>
      </div>
      <div class="fl pa1 w-50 w-25-ns w-10-ns0">
        <div class="aspect-ratio--1x1 aspect-ratio">
          <div class="aspect-ratio--object bg-froly white flex justify-center items-center">
           <div class="absolute f7 pale bottom-1 tc w-100">Medium</div>
            <div class="relative">
             <span class="f1 f-6-l f1-ns mb3 dib fw5 random">Gg</span>
            </div>
          </div>
        </div>
      </div>
      <div class="fl pa1 w-50 w-25-ns w-10-ns0">
        <div class="aspect-ratio--1x1 aspect-ratio">
          <div class="aspect-ratio--object bg-grandis black flex justify-center items-center">
            <div class="absolute f7 pale bottom-1 tc w-100">Regular</div>
            <div class="relative">
              <span class="f1 f-6-l f1-ns mb3 dib fw4 random">Xx</span>
            </div>
          </div>
        </div>
      </div>
      <div class="fl pa1 w-50 w-25-ns w-10-ns0">
        <div class="aspect-ratio--1x1 aspect-ratio">
          <div class="aspect-ratio--object bg-lemon-grass black flex justify-center items-center">
            <div class="absolute f7 pale bottom-1 tc w-100">Light</div>
            <div class="relative">
              <span class="f1 f-6-l f1-ns mb3 dib fw2 random">Qq</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="mt4 mt6-ns cf">
    <p>Type tester</p>
    <div class="cf">
      <textarea class="typetester w-100 pa4 f3 fw9 lh-copy bg-transparent white ba b--white" name="name" rows="3" cols="80">Arrowroot Barley Chervil Dumpling Endive Flaxseed Garbanzo Hijiki Ishtu Jicama Kale Lychee Marjoram Nectarine Oxtail Pizza Quinoa Roquefort Squash Tofu Uppuma Vanilla Wheat Xergis Yogurt Zweiback</textarea>
      <div class="typetester-playground">

      </div>
      <div class="typetester-playground f1 fw1">

      </div>
    </div>
  </div>

  <!-- <div class="mt4 mt6-ns cf">
      <div class="cf">
        <nav class="flex justify-between weight">
          <a class="dib f4 f3-ns tc pv4 fw9" data-weight="fw9">Bold</a>
          <a class="dib f4 f3-ns tc pv4 fw5" data-weight="fw5">Medium</a>
          <a class="dib f4 f3-ns tc pv4 fw4" data-weight="fw4">Regular</a>
          <a class="dib f4 f3-ns tc pv4 fw2" data-weight="fw2">Light</a>
        </nav>
      </div>
      <div class="charset medium">
        <% data.charset.characters.each do |this, index| %>
          <div class="glyph w-50 w-25-ns w-20-l fl">
            <div class="aspect-ratio--1x1 aspect-ratio">
              <div class="aspect-ratio--object flex justify-center items-center expand">
                <ul class="list ma0 pa0 expand-list w-100 h-100 absolute top-0 left-0">
                <% if this.key?('dia') %>
                  <% this['dia'].each do | dia | %>
                     <li class="absolute f5 tracked"><%= dia + dia.mb_chars.downcase %></li>
                  <% end %>
                <% end %>
               </ul>
               <div class="f2 f1-ns list ma0 pa0 relative">
                 <span><%= this['char'] + this['char'].downcase %></span>
               </div>

              </div>
            </div>
          </div>
        <% end %>

        <% data.charset.numerals.each do |this| %>
          <div class="glyph w-50 w-25-ns w-20-l fl">
            <div class="aspect-ratio--1x1 aspect-ratio">
              <div class="aspect-ratio--object flex justify-center items-center">
               <span class="f2 f1-ns dib">
                 <%= this %>
               </span>
              </div>
            </div>
          </div>
        <% end %>
        <% data.charset.punctuation.each do |this| %>
          <div class="glyph w-25 w-20-l fl">
            <div class="aspect-ratio--1x1 aspect-ratio">
              <div class="aspect-ratio--object bg-white-10 hover-bg-white hover-black flex justify-center items-center">
               <span class="f2 f1-ns dib">
                 <%= this %>
               </span>
              </div>
            </div>
          </div>
        <% end %>
        <% data.charset.symbols.each do |this| %>
          <div class="glyph w-25 w-20-l fl">
            <div class="aspect-ratio--1x1 aspect-ratio">
              <div class="aspect-ratio--object bg-white-10 hover-bg-white hover-black flex justify-center items-center">
               <span class="f2 f1-ns dib">
                 <%= this %>
               </span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div> -->

  <div class="mv5">
    Typeface & Website under construction.
  </div>
</div>
