---
title: Norse Sans
---


<article class="w-100 contain bg-top">
    <div class="mv6">
      <div class="ma0 f1 fill lh-title w-100 overflow-hidden">
        <div class="charlines fw4">
          <div class="charline reveal">
            <div class="charline-text">
              <span class="froly">Norse</span> Sans <span class="froly">Norse</span> Sans <span class="froly">Norse</span> Sans
            </div>
          </div>
					<div class="charline reveal">
						<div class="charline-text">
							Impressive language support — Ch<span class="froly">â</span>teau ∞ d’Eau. Ma<span class="froly">łż</span>e<span class="froly">ń</span>sk<span class="froly">ą</span>* “t<span class="froly">ü</span>k<span class="froly">ö</span>rf<span class="froly">ú</span>r<span class="froly">ó</span>g<span class="froly">é</span>p” <span class="froly">þ</span>j<span class="froly">ó</span>fum
            </div>
					</div>
          <div class="charline reveal">
						<div class="charline-text">
              Small caps → <span class="smcp froly">S</span>S
              <span class="smcp froly">Q</span>Q
              <span class="smcp froly">G</span>G
              <span class="smcp froly">H</span>H
              <span class="smcp froly">J</span>J
            </div>
					</div>
          <div class="charline reveal">
            <div class="charline-text">
              Lovely ligatures <span class="froly dlig">rf rt fi</span>
            </div>
          </div>
          <div class="charline reveal">
            <div class="charline-text">
              Fantastic fractions <span class="frac">180° m<span class="froly">²</span>  Roughly <span class="froly">1/2</span> on <span class="froly">19/07/2011</span></span>
            </div>
          </div>
          <div class="charline reveal">
            <div class="charline-text">
              Slashed zeroes
                <span class="froly">0</span><span class="onum froly">0</span>/<span class="zero froly">0<span class="onum zero froly">0</span>
                </span>
            </div>
          </div>
          <div class="charline reveal">
            <div class="charline-text">
              Arrows
                <span class="froly">↔↕↑↗→↘↓↙←↖</span>
              + Arrow ligatures <span class="froly">-> = →</span>
            </div>
          </div>
          <div class="charline reveal">
            <div class="charline-text">
              Oldstyle figures
              1246 →
                <span class="froly tnum">1246</span>
                1246 →
              <span class="froly onum">1246</span>
            </div>
          </div>

          <div class="charline reveal">
            <div class="charline-text">
              Stylistic Alternatives [
              <span class="froly ss02">a</span>/a,
              <span class="froly ss01">l</span>/l,
              <span class="froly ss03">B</span>/B,
              <span class="froly ss04">A</span>/A,
              ]
            </div>
          </div>
        </div>
      </div>
      <div class="row mv5">
        <div id="slidecontainer">
          <div class="x--50 weight-indicator dib relative tc mb4 tracked ttu">
            Drag me to change weight
          </div>
          <div class="relative h2">
            <div id="slider">

            </div>
            <!-- <input type="range" min="0" max="500" value="250" class="slider absolute top-0" id="myRange"> -->
            <div class="pips flex justify-between absolute top-0 pointer-events-none z-5">
                <div class="pips-1 br-pill"></div>
                <div class="pips-2 br-pill"></div>
                <div class="pips-3 br-pill"></div>
                <div class="pips-4 br-pill"></div>
                <div class="pips-5 br-pill"></div>
                <div class="pips-6 br-pill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</article>

<div class="row z-1 relative">

  <div class="mv3 mv5-ns cf">
    <div class="flex flex-wrap justify-between">
        <div class="w-100 w-80-ns pa0-l fl reveal mb5 m-left-auto">
          <p class="w-100 w-40-l fl pt3 pr4 measure bt-dashed nt-1 z-1 relative">
            <span class="f-6 fw9 lh-title">NOR-</span></p>
          <div class="w-100 w-60-l ba fl nt-1 pa4 f6 furniture">
            A typeface for the modern world. An exciting combo between grotesque principles and legibility.
          </div>
        </div>
    </div>
    <div class="flex flex-wrap justify-between">
        <div class="w-100 w-80-ns pa0-l fl reveal mb5 m-right-auto">
          <div class=" flex flex-wrap flex-row flex-row-reverse-l">
            <p class="w-100 w-40-l fl pt3 pl0 pl4-l measure bt-dashed nt-1">
            <span class="f-6 fw9 lh-title">SE.</span></p>
            <div class="w-100 w-60-l ba fl nt-1 pa4 f6 furniture">
              Norse really shines when small due to it's spacious layout of shapes rendering it ideal for body text. But sports enough pizzazz to be used in titles and print design.
            </div>
          </div>
        </div>
    </div>
  </div>


  <div class="mv3 mv5-ns cf">
    <p class="cf">5 Weights</p>
    <div class="flex flex-wrap justify-between">
      <% data.weight.weights.each do |this| %>
        <div class="w-40 w-30-l pa0-l fl reveal mb5">
          <div class="bt-dashed relative z-1">
            <p class="w-100 w-40-l fl z-1 relative"><%= this['weight'] %></p>
          </div>
          <div class="w-100 w-60-l ba fl nt-1 furniture">
            <div class="aspect-ratio--1x1 aspect-ratio">
              <div class="aspect-ratio--object flex justify-center items-center">
                  <div class="relative">
                    <span class="f1 <%= this['class'] %> random">Rr</span>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <% data.charset.each do | id, this | %>
    <div class="flex flex-l flex-wrap bt-dashed mt5">
      <div class="w-100 w-30-l">
        <p><%= id.capitalize %></p>
        <% if id === 'characters' %>
          <p class="f6 black-50 pr4 measure">Supports — Portuguese, Italian, Moldovan, Spanish, French, Turkish, Romanian, Polish, Swedish and many more</p>
        <% end %>
      </div>
      <div class="w-100 w-70-l">
      <% this.each do |this| %>
        <div class="glyph w-third w-20-ns w-10-l fl charset">
          <div class="aspect-ratio--1x1 aspect-ratio">
            <div class="aspect-ratio--object expand overflow-hidden">
              <div class="f4 f3-ns list ma0 pa0 relative w-100 h-100 flex justify-center items-center hover-bg-black hover-white">
                <% if this.is_a?(Hash) %>
                  <ul class="list ma0 pa0 expand-list w-100 h-100 relative">
                  <li class="flex items-center justify-center w-100 h-100"><%= this['char'] + this['char'].mb_chars.downcase %></li>
                  <% if this.key?('dia') %>
                    <% this['dia'].each do | dia | %>
                       <li class="flex items-center dn justify-center w-100 h-100"><%= dia + dia.mb_chars.downcase %></li>
                    <% end %>
                  <% end %>
                  </ul>
                <% elsif %>
                  <%= this %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>

  <div class="mv3 mv5-ns cf">
    <p>Made by <a href="https://www.graz.io">graz.io</a></p>
  </div>


</div>
